{% extends 'base.html' %}
{% block title %}Hacker Brunch{% endblock %}

{% block content %}



<div class="container">
  <h2>Hacker Brunch</h2>
  <p>Upcoming brunch reservations in San Francisco for popular brunch spots. <br>Click on the time to make a reservation directly on Opentable.</p>
  <table class="table table-striped myTable">
    <thead>
      <tr>
        <th><button type="button" class="btn btn-primary btn-xs glyphicon glyphicon-filter align-right"></button>  Date</th>
        <th>Name</th>
        <th>People</th>
        <th>Available Reservation Time/s</th><!-- filter to toggle fields -->
      </tr>
      <tr class="search-fields" display="none">
        <!-- Filters for selecting from table -->
        <th>
          <select id="myDate" class="form-control" onchange="myFilter()">
            <option></option>
            {% for date in dates %}
            <option>{{ date[0].strftime('%b %d') }}</option>
            {% endfor %}
          </select>
        </th>

        <th>
            <input id="myResto" type="text" class="form-control" onkeyup="myFilter()">
        </th>
        
        <th>
          <select id="myNum" onchange="myFilter()" class="form-control">
            <option></option>
            <option>2</option>
            <option>4</option>
            <option>6</option>
          </select>
        </th>

        <th></th>

      </tr>
    </thead>
    <tbody>
      {% for reservation in reservations %}
      <tr class='reservation-entry'>
        <td>{{ reservation.date.strftime('%b %d, %A') }}</td>
        <td><a href='/restaurant_details/{{ reservation.opentable.restaurants[0].restaurant_id }}'>{{ reservation.opentable.name }}</a></td>
        <td>{{ reservation.people }}</td>
        <td>
        <!-- clean up time string for looping over -->
        {% set timeline = reservation.time|replace('{','') %}
        {% set timeline = timeline|replace('}','') %}
        {% set timeline = timeline.split(',') %}
        {% for time in timeline %}
          <!-- make unique opentable URL depending on available time -->
          {% if (time[0:1] == '9') %}
          <a href='http://opentable.com/opentables.aspx?t=rest&r={{ reservation.opentable_id }}&d={{ reservation.date.strftime('%m/%d/%Y') }}%200{{ time }}:00%20AM&p={{ reservation.people }}' target='_blank'
          <button type="button" class="btn btn-primary btn-xs">{{ time }} AM</button></a>
          {% elif (time[0:2] == '10') or (time[0:2] == '11') %}
          <a href='http://opentable.com/opentables.aspx?t=rest&r={{ reservation.opentable_id }}&d={{ reservation.date.strftime('%m/%d/%Y') }}%20{{ time }}:00%20AM&p={{ reservation.people }}' target='_blank'
          <button type="button" class="btn btn-primary btn-xs">{{ time }} AM</button></a>
          {% elif (time[0:2] == '12') %}
          <a href='http://opentable.com/opentables.aspx?t=rest&r={{ reservation.opentable_id }}&d={{ reservation.date.strftime('%m/%d/%Y') }}%20{{ time }}:00%20PM&p={{ reservation.people }}' target='_blank'
          <button type="button" class="btn btn-primary btn-xs">{{ time }} PM</button></a>
          {% else %}
          <a href='http://opentable.com/opentables.aspx?t=rest&r={{ reservation.opentable_id }}&d={{ reservation.date.strftime('%m/%d/%Y') }}%200{{ time }}:00%20PM&p={{ reservation.people }}' target='_blank'
          <button type="button" class="btn btn-primary btn-xs">{{ time }} PM</button></a>
          {% endif %}
        {% endfor %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script type="text/javascript">

'use strict';

function myTest(){
  var input1, input2, input3, tr, td1, td2, td3, i;
  input1 = $("#myDate").val();
  input2 = $("#myResto").val().toUpperCase();
  input3 = $("#myNum").val();
  tr = $(".reservation-entry");
  for (i = 0; i < tr.length; i++) {
    td1 = tr[i].getElementsByTagName("td")[0];
    td2 = tr[i].getElementsByTagName("td")[1];
    td3 = tr[i].getElementsByTagName("td")[2];
    if ((td1.innerHTML.indexOf(input1) > -1) 
      && (td2.innerHTML.toUpperCase().indexOf(input2) > -1)
      && (td3.innerHTML.indexOf(input3) > -1)) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
    }
  }
}


$(document).ready(function(){
    $(".glyphicon-filter").click(function(){
        $(".search-fields").toggle();
    });
});

</script>

{% endblock %}



