{% extends 'base.html' %}
{% block title %}Hacker Brunch - {{restaurant.name}}{% endblock %}
{% block content %}

<div class="container" style="width: 100%; height: 100%">

<div class="row"><h3>{{ restaurant.name }}</h3></row>

<div class="row" style="width: 100%; height: 100%">

<div class="col-xs-12 col-md-6" style="width: 100%; height: 100%">
<img src='{{ restaurant.yelp_details[0].image_url }}' alt='{{ restaurant.name }}'><br>
Address: {{ restaurant.yelp_details[0].address }}<br>
Yelp Rating: {{ restaurant.yelp_details[0].rating }}<br>
<a href='https://www.yelp.com/biz/{{ restaurant.yelp_details[0].yelp_id }}'>Link to Yelp Review Page</a><br>
Phone: {{ restaurant.yelp_details[0].display_phone }}<br>
Categories: {{ restaurant.yelp_details[0].categories }}<br>
Neighborhoods: {{ restaurant.yelp_details[0].neighborhoods }}<br>
Yelp Reservation URL: {{ restaurant.yelp_details[0].reservation_url }}<br><br>
</div>

<div class="col-xs-12 col-md-6" style="width: 50%; height: 100%">
<div id="detail-map" style="height: 300px"></div>
</div>

</div>
</div>

<script>

  function initMap() {

    var map;

    var myLatLng = {lat: {{ restaurant.yelp_details[0].lat }}, lng: {{ restaurant.yelp_details[0].lng }}};


    // initialize map object
    map = new google.maps.Map(document.getElementById('detail-map'), {
      center: myLatLng,
      zoom: 15
    });

    // add a marker for the restaurant
    var marker = new google.maps.Marker({
      position: myLatLng,
      map: map,
      title: 'Hello World!'
    });

    marker.setMap(map);

  }

</script>

<script src="https://maps.googleapis.com/maps/api/js?key={{ gkey }}&callback=initMap"
async defer></script>

{% endblock %}