{% extends 'base.html' %}
{% block title %}Hacker Brunch - Restaurant List{% endblock %}
{% block content %}

<div class="container">

  <table class="table">
    <thead>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th></th>
        <th>Neighborhood</th>
        <th>Cuisine</th>     
      </tr>
    </thead>
    <tbody>
      
      {% for restaurant in restaurants %}  
      <tr>
        <td><img src='{{ restaurant.yelp_details[0].image_url }}' alt='{{ restaurant.name }}'><br></td>
        <td><a href='/restaurant_details/{{ restaurant.restaurant_id }}'><b>{{ restaurant.name }}</b></a></td>
        <td>
            {% if session %}
            <div>
            <button id="{{ restaurant.restaurant_id }}" type="button" class="try-button btn btn-default btn-sm">Want to Try</button><br><br>
            <button id="{{ restaurant.restaurant_id }}" type="button" class="like-button btn btn-default btn-xs"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></button>
            <button id="{{ restaurant.restaurant_id }}" type="button" class="dislike-button btn btn-default btn-xs"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></button>
            </div>
            {% endif %}
        </td>
        <td>{{ restaurant.yelp_details[0].neighborhoods }}</td>
        <td>{{ restaurant.yelp_details[0].categories }}</td>
      </tr>
      {% endfor %}
      
    </tbody>
  </table>
</div>



<script type="text/javascript">

'use strict';

// toggle disable on and off
function toggleDisable(button) {
  if (button.prop('disabled') == true) {
    button.prop("disabled",false);
  } else {
    button.prop("disabled",true);
  }
}

// toggle button on and off
function tryRestoSuccess(result) {
  console.log(result.status);
  var resto_id = result.resto_id;
  var my_try_button = $('#' + resto_id + '.try-button');
  var my_like_button = $('#' + resto_id + '.like-button');
  var my_dislike_button = $('#' + resto_id + '.dislike-button');
  my_try_button.toggleClass('btn-success');
  toggleDisable(my_like_button);
  toggleDisable(my_dislike_button);
}

function likeRestoSuccess(result) {
  console.log(result.status);
  var resto_id = result.resto_id;
  var my_try_button = $('#' + resto_id + '.try-button');
  var my_like_button = $('#' + resto_id + '.like-button');
  var my_dislike_button = $('#' + resto_id + '.dislike-button');
  my_like_button.toggleClass('btn-success');
  toggleDisable(my_try_button);
  toggleDisable(my_dislike_button);
}

function dislikeRestoSuccess(result) {
  console.log(result.status);
  console.log('inside dislike');
  var resto_id = result.resto_id
  var my_try_button = $('#' + resto_id + '.try-button');
  var my_like_button = $('#' + resto_id + '.like-button');
  var my_dislike_button = $('#' + resto_id + '.dislike-button');
  my_dislike_button.toggleClass('btn-warning');
  toggleDisable(my_try_button);
  toggleDisable(my_like_button);
}

// submit post requests for buttons
function tryResto(evt) {
  var id = this.id;
  console.log(id);
  $.post('/tryresto', {'id': id}, tryRestoSuccess);
}

function likeResto(evt) {
  var id = this.id;
  console.log(id);
  $.post('/likeresto', {'id': id}, likeRestoSuccess);
}

function dislikeResto(evt) {
  var id = this.id;
  console.log(id);
  $.post('/dislikeresto', {'id': id}, dislikeRestoSuccess);
}

// event listeners for buttons
$('.try-button').click(tryResto);
$('.like-button').click(likeResto);
$('.dislike-button').click(dislikeResto);


</script>


{% endblock %}

