{% extends 'base.html' %}
{% block title %}Hacker Brunch - Restaurant List{% endblock %}
{% block content %}

<div class="container">

  <table class="table">
    <thead>
      <tr>
        <th><a href"http://www.yelp.com/" target="_blank"><img src='/static/yelp_button.png' style='height: 30px'></a></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>     
      </tr>
      <tr>
        <th></th>
        <th>Name</th>
        <th></th>
        <th>Neighborhood</th>
        <th>Cuisine</th>     
      </tr>
    </thead>
    <tbody>
      
      {% for restaurant in restaurants %}  
      <tr>
        <td><img src='{{ restaurant.yelp_details[0].image_url }}' alt='{{ restaurant.name }}'><br></td>
        <td><a href='https://www.yelp.com/biz/{{ restaurant.yelp_details[0].yelp_id }}' target='_blank'><b>{{ restaurant.name }}</b></a></td>
        <td>
            {% if session['user_email'] %}
            <div class="text-center">
            <button id="{{ restaurant.restaurant_id }}" value='try' type="button" class="try-button btn btn-default btn-sm" onload='loadButton()'>Want to Try</button><br><br>
            <button id="{{ restaurant.restaurant_id }}" value='like' type="button" class="like-button btn btn-default btn-xs"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></button>
            <button id="{{ restaurant.restaurant_id }}" value='dislike' type="button" class="dislike-button btn btn-default btn-xs"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></button>
            </div>
            {% endif %}
        </td>
        <td>{{ restaurant.yelp_details[0].neighborhoods }}</td>
        <td>{{ restaurant.yelp_details[0].categories }}</td>
      </tr>
      {% endfor %}
      
    </tbody>
  </table>
</div>



<script type="text/javascript">

'use strict';

// toggle disable on and off
function toggleDisable(button) {
  if (button.prop('disabled') == true) {
    button.prop("disabled",false);
  } else {
    button.prop("disabled",true);
  }
}


// show success for clicked button, or unclick
function updateSuccess(result) {
  var resto_id = result.resto_id;
  var status = result.status;
  var my_try_button = $('#' + resto_id + '.try-button');
  var my_like_button = $('#' + resto_id + '.like-button');
  var my_dislike_button = $('#' + resto_id + '.dislike-button');
  if (status == 'try') {
      my_try_button.toggleClass('btn-success');
      toggleDisable(my_like_button);
      toggleDisable(my_dislike_button);
  } else if (status == 'like') {
      my_like_button.toggleClass('btn-success');
      toggleDisable(my_try_button);
      toggleDisable(my_dislike_button);
  } else {
      my_dislike_button.toggleClass('btn-danger');
      toggleDisable(my_try_button);
      toggleDisable(my_like_button);
  }
}


// submit post request for clicked button
function updateStatus(evt) {
  var id = this.id;
  var msg = this.value;
  var formInputs = {
    'id': id,
    'status': msg
  };
  $.post('/update_status', formInputs, updateSuccess);
}

// On page load, populate buttons with user preferences; only run if user is logged in
{% if session['user_email'] %} 
function populateButtons(){
  {% for detail in user_details %}
    var id = Number('{{ detail.restaurant_id}}');
    var status = '{{ detail.status }}';
    var my_try_button = $('#' + id + '.try-button');
    var my_like_button = $('#' + id + '.like-button');
    var my_dislike_button = $('#' + id + '.dislike-button');
    if (status == 'try') {
      my_try_button.toggleClass('btn-success');
      toggleDisable(my_like_button);
      toggleDisable(my_dislike_button);
    } else if (status == 'like') {
      my_like_button.toggleClass('btn-success');
      toggleDisable(my_try_button);
      toggleDisable(my_dislike_button);
    } else {
      my_dislike_button.toggleClass('btn-danger');
      toggleDisable(my_try_button);
      toggleDisable(my_like_button);
    }
    console.log(status);
    console.log(id);
  {% endfor %}
}
{% endif %}

// event listeners for button clicks and page load
$('.try-button').click(updateStatus);
$('.like-button').click(updateStatus);
$('.dislike-button').click(updateStatus);
$( document ).ready(populateButtons);


</script>


{% endblock %}

